aiohttp==3.6.2
alabaster==0.7.12
amqp==5.0.1
anaconda-client==1.2.2
appdirs==1.4.4
asgiref==3.2.10
astor==0.8.1
astroid==2.4.2
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.2.0
autoflake==1.4
autopep8==1.4.4
Babel==2.8.0
bandit==1.6.2
beautifulsoup4==4.8.2
billiard==3.6.3.0
black==20.8b1
bleach==3.2.1
cairocffi==1.2.0
CairoSVG==2.5.0
celery==5.0.0
certifi==2019.3.9
cffi==1.14.3
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
clyent==1.2.1
colorama==0.4.3
coverage==5.3
cssselect2==0.4.1
darglint==1.5.4
defusedxml==0.6.0
distlib==0.3.1
dj-static==0.0.6
Django==3.0.11
django-allauth==0.39.1
django-appconf==1.0.4
django-compressor==2.4
django-contactform==2.2.0
django-contrib-comments==1.9.2
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-environ==0.4.5
django-extensions==3.0.8
django-extra-views==0.13.0
django-filter==2.4.0
django-haystack==3.0
django-localflavor==3.0.1
django-modelcluster==5.1
django-oscar==2.1
django-oscar-accounts==2.1
django-oscar-api==2.0.2
django-oscar-api-checkout==2.0.0
django-oscar-bluelight==2.0.0
django-oscar-invoices==0.2
django-oscar-paypal==2.0.0
django-oscar-promotions==1.0.0b1
django-oscar-stores==2.2
django-phonenumber-field==3.0.1
django-redis==4.12.1
django-social-share==2.1.0
django-tables2==2.3.3
django-taggit==1.3.0
django-tenant-schemas==1.10.0
django-treebeard==4.3.1
django-widget-tweaks==1.4.8
djangorestframework==3.11.1
doc8==0.8.1
docutils==0.16
draftjs-exporter==2.1.7
easy-thumbnails==2.7
eradicate==1.0
et-xmlfile==1.0.1
factory-boy==2.12.0
Faker==4.1.2
filebrowser-safe==0.5.0
filelock==3.0.12
flake8==3.8.3
flake8-2020==1.6.0
flake8-bandit==2.1.2
flake8-broken-line==0.2.1
flake8-bugbear==19.8.0
flake8-builtins==1.5.3
flake8-commas==2.0.0
flake8-comprehensions==3.2.3
flake8-debugger==3.2.1
flake8-docstrings==1.5.0
flake8-eradicate==0.3.0
flake8-fixme==1.1.1
flake8-isort==3.0.1
flake8-logging-format==0.6.0
flake8-mutable==1.2.0
flake8-polyfill==1.0.2
flake8-quotes==2.1.2
flake8-rst-docstrings==0.0.12
flake8-string-format==0.2.3
flake8-variables-names==0.0.3
future==0.18.2
gitdb==4.0.5
GitPython==3.1.8
grappelli-safe==0.5.2
html5lib==1.1
idna==2.8
imagesize==1.2.0
iniconfig==1.0.1
isort==4.3.21
jdcal==1.4.1
Jinja2==2.11.2
kombu==5.0.2
l18n==2018.5
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
Mezzanine==4.3.1
more-itertools==8.5.0
multidict==4.7.6
mypy-extensions==0.4.3
oauthlib==3.0.1
openpyxl==3.0.5
ordered-set==4.0.2
packaging==20.4
pathspec==0.8.0
pbr==5.5.0
pep8==1.7.1
pep8-naming==0.9.1
phonenumbers==8.12.9
Pillow==7.2.0
pluggy==0.13.1
prompt-toolkit==3.0.8
psycopg2-binary==2.8.6
purl==1.5
py==1.9.0
pycodestyle==2.6.0
pycountry==20.7.3
pycparser==2.20
pydocstyle==5.1.1
pyflakes==2.2.0
Pygments==2.7.0
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
pyparsing==2.4.7
Pyphen==0.10.0
pytest==6.0.2
pytest-cov==2.10.1
python-dateutil==2.8.1
python-decouple==3.1
python-dev-tools==2020.9.10
python-dotenv==0.15.0
python-stdnum==1.14
python3-openid==3.1.0
pytz==2018.5
pyupgrade==2.7.2
PyYAML==5.3.1
rcssmin==1.0.6
redis==3.5.3
regex==2020.7.14
requests==2.21.0
requests-oauthlib==1.2.0
restructuredtext-lint==1.3.1
rjsmin==1.1.0
sandbox-api==1.1.0
six==1.15.0
smmap==3.0.4
snowballstemmer==2.0.0
sorl-thumbnail==12.6.3
soupsieve==2.0.1
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.2.4
static3==0.7.0
stevedore==3.2.2
stripe==2.27.0
tablib==2.0.0
testfixtures==6.14.2
text-unidecode==1.3
tinycss2==1.1.0
tokenize-rt==4.0.0
toml==0.10.1
tox==3.20.0
tox-travis==0.12
typed-ast==1.4.1
typing-extensions==3.7.4.3
tzlocal==2.1
Unidecode==1.1.1
urllib3==1.24.2
vine==5.0.0
virtualenv==20.0.31
wagtail==2.10.2
wcwidth==0.2.5
WeasyPrint==52.1
webencodings==0.5.1
wemake-python-styleguide==0.14.1
whitenoise==5.2.0
Whoosh==2.7.4
Willow==1.4
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.3.7
xlwt==1.3.0
yarl==1.5.1
