{% load i18n %}
{% load static %}

    <div id="main-slider" class="container-fluid page">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Free Uploads for Products by Retailers and Suppliers</h1>
                        <p class="lead">E-Reja Stores is the Best MarketPlace to purchase and sell Products and Services <br>With unlimited Online MarketPlace Reach Now for Free</p>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Evolved Digital Stores for All Businesses</h1>
                        <p class="lead">Open a Virtual Store at No Extra Cost<br>from E-Reja Interactive Stores</p>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/#main-slider-->
